body {
  font-family: 'Poiret One', cursive;
  margin: 0 auto;
  background-color: #f4f2f3;
}

.main-box {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}


.information-box {
  font-style: italic;
  color: #616161;
  margin-right: 25px;
  display: grid;
}

.references-box {
  text-align: right;
}

a {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-weight: bolder;
}

.work-img {
  height: 100vh;
  width: auto;
}

@media (max-width: 600px) {
  .work-img {
    height: 450px;
  }
}
